@media (max-width: 1200px) {
  .sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 60px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
  }

  .sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }

  .sidebar-link:hover{
    background-color: rgba(235, 235, 235, 0.879);
  }
  
  .sidebar-link img{
    height: 24px;
    margin-bottom: 6px;
  }
  
  .sidebar-link div {
    font-size: 10px;
  }

}

@media (min-width: 1200.1px) {
  .sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 60px;
    background-color: white;
    width: 240px;
    z-index: 200;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .sidebar-link{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 20px;
    width: 240px;
    height: 50px;
  }
  
  .sidebar-link:hover{
    background-color: rgba(235, 235, 235, 0.879);
  }
  
  .sidebar-link img{
    height: 24px;
    margin-right: 20px;
    margin-left: 10px;
  }
  
  .sidebar-link div {
    font-size: 14px;
  }
}

